* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
    background-image: url(./images/postcard-pals.png);
}

a {
  margin: 10px;
  text-decoration: none;
}

button {
  margin: 10px;
  font-size: 20px;
}

.homepage {
  display: flex;
  justify-content: center;
}

input {
  margin: 10px;
  font-size: 20px

}
